@import '~src/app/styles/variables.scss';

.header {
  // position: fixed;
  // z-index: 9999;
  display: flex;
  align-items: center;
  width: 100vw;
  height: $header-height - 0.25rem;
  padding: 0 1rem;
  color: white;
  border-bottom: 0.25rem solid $primary;
  background-color: $secondary;
  box-shadow: 0 2px 5px #ec407a;
  &__brand {
    &:hover {
      cursor: pointer;
    }
  }
  .header__white-space {
    width: $offset-width;
    margin-right: auto;
  }

  .header__settings {
    // width: $offset-width;
    margin-left: auto;
    text-align: right;
  }
}
