<div class="bhrc">
  <form [formGroup]="roomForm">
    <mat-form-field class="bhrc__form-field">
      <mat-label>Room Name</mat-label>
      <input matInput formControlName="nameCtrl" />
    </mat-form-field>
    <!-- <mat-form-field class="bhrc__form-field">
      <mat-label>Room Key (Optional)</mat-label>
      <input matInput formControlName="pwCtrl">
    </mat-form-field> -->
    <!-- <div formGroupName="rolesForm">
      <h1 class="bhrc__section-header">Available Roles</h1>
      <div class="bhrc__roles">
        <section>
          <h2 class="bhrc__section-header--sub">Black Hand</h2>
          <mat-list>
            <mat-list-item *ngFor="let role of blackHandRoles">
              <mat-checkbox [formControlName]="role.name">{{ role.name }}</mat-checkbox>
            </mat-list-item>
          </mat-list>
        </section>

        <mat-divider vertical class="bhrc__divider"></mat-divider>

        <section>
          <h2 class="bhrc__section-header--sub">Monster</h2>
          <mat-list>
            <mat-list-item *ngFor="let role of monsterRoles">
              <mat-checkbox [formControlName]="role.name">{{ role.name }}</mat-checkbox>
            </mat-list-item>
          </mat-list>
        </section>

        <mat-divider vertical class="bhrc__divider"></mat-divider>

        <section>
          <h2 class="bhrc__section-header--sub">Townie</h2>
          <mat-list>
            <mat-list-item *ngFor="let role of townieRoles">
              <mat-checkbox [formControlName]="role.name">{{ role.name }}</mat-checkbox>
            </mat-list-item>
          </mat-list>
        </section>
      </div>
    </div> -->
    <div class="bhrc__button-row">
      <button mat-raised-button color="primary" type="submit" (click)="createRoom()">Create Room</button>
    </div>
  </form>
</div>
