<mat-card class="chat">
  <mat-card-title class="chat__title">{{ chatPurposeName }}</mat-card-title>
  <mat-card-content #chatWindow class="chat__content">
    <ul class="chat__msg-list">

      <ng-container *ngIf="showMessages | async">
        <ng-container *ngFor="let msg of messages | async">
          <li *ngIf="!isMessageFromUser(msg); else selfAuthoredMsg" class="mat-elevation-z1 chat__msg">
            <span class="chat__msg-author">{{ msg.email }}</span>
            <span class="chat__msg-text">{{ msg.content }}</span>
          </li>
          <ng-template #selfAuthoredMsg>
            <li class="mat-elevation-z1 chat__msg--self">
              <span class="chat__msg-text">{{ msg.content }}</span>
            </li>
          </ng-template>
        </ng-container>
      </ng-container>

    </ul>
  </mat-card-content>
  <mat-card-actions class="chat__actions">
    <textarea [formControl]="newMsgCtrl" class="chat__type-box" placeholder="Type a message"
      (keypress)="sendMessage($event)"></textarea>
  </mat-card-actions>
</mat-card>
