@import '~src/app/styles/mixins.scss';
@import '~src/app/styles/variables.scss';

@mixin msgBox($self: false) {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0.5rem 0;
  padding: 10px;
  border-radius: 15px 15px 15px 0;
  @if ($self) {
    align-self: flex-end;
    text-align: right;
    color: white;
    border-radius: 15px 15px 0 15px;
    background-color: #673ab7;
  }
}

.chat {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem 0;
  &__msg-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &__msg {
    @include msgBox;

    &--self {
      @include msgBox(true);
    }
  }
  &__msg-author {
    word-break: break-all;
  }

  &__msg-text {
    font-weight: bold;
  }
  &__type-box {
    width: 100%;
    resize: none;
  }
  &__title {
    flex: 0;
    padding: 0 1rem;
  }
  &__content {
    overflow: auto;
    flex: 1;
    min-height: 0;
  }
  &__actions {
    flex: 0;
    padding: 0 1rem;
  }
}
