<section id="chat">
  <h3>{{ chatPurposeName }}</h3>
  <ul #chatWindow>
    <li
      *ngFor="let receivedMessage of messages"
      [ngClass]="
        receivedMessage.author === partyrUser.email ? 'you' : 'someone-else'
      "
    >
      <span>{{ receivedMessage.author }}</span>
      <span>{{ receivedMessage.content }}</span>
    </li>
  </ul>
  <div class="input-text">
    <textarea
      type="text"
      [(ngModel)]="message.content"
      (keydown)="sendMessage($event)"
    ></textarea>
  </div>
</section>
