@import '~src/app/styles/variables.scss';

.game-select {
  display: flex;
  justify-content: center;
  &__header {
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
  &__widget {
    width: 60rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border: 5px solid $secondary;
    border-radius: 10px;
  }

  &__card {
    display: inline-flex;
    border: none;
    background-color: transparent;
    &:hover {
      box-shadow: -5px 5px 5px lighten(black, $amount: 75%);
      cursor: pointer;
    }
  }

  &__poster {
    height: 25rem;
  }
}
