.game-select {
  display: flex;
  justify-content: center;
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 70vh;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: black;
    &:hover {
      box-shadow: -5px 5px 5px gray;
    }
  }
}
