.waiting-room {
  &__header {
    margin-top: 0;
    text-align: center;
  }

  &__player-card {
    display: flex;
    align-items: center;
  }

  &__button-row {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    &--ready {
      font-size: 2rem;
      width: 8rem;
      height: 4rem;
    }
  }

  @mixin row() {
    display: flex;
    margin-top: 1rem;
  }

  &__row {
    @include row;
    &--roles {
      justify-content: space-around;

      @include row;
    }
  }

  &__section {
    &--main {
      display: flex;
      align-items: center;
      flex: 1;
      flex-direction: column;
      justify-content: center;
    }

    &--settings {
      display: inline-flex;
      flex-direction: column;
      padding: 1rem;
      border: 1px solid black;
    }
  }

  &__status-icon {
    &--ready {
      color: #ffc107;
    }
    &--not-ready {
      color: #607d8b;
    }
  }

  &__role-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__sprite-container {
    
  }
}
