.waiting-room {
  &__player-list {
    display: flex;
    justify-content: center;
  }

  &__player-card {
    display: flex;
    align-items: center;
  }

  &__button-row {
    button {
      margin-right: 0.5rem;
    }
  }
}
