@function rowBg($opacity: 1) {
  @return rgba(186, 104, 200, $opacity);
}

.lobby {
  display: flex;
  padding: 1rem;
  &__grid {
    display: grid;
    width: 100vw;
    height: 85vh;
    gap: 1rem;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  &__button-row {
    button {
      margin-right: 0.5rem;
    }
  }

  &__chat {
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__room-list {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &__table {
    width: 100%;
    th {
      text-align: left;
    }
  }

  &__role-display {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  &__select-row {
    &:hover {
      cursor: pointer;
      background-color: rowBg(0.75);
    }
    &--active {
      font-weight: bold;
      background-color: rowBg();
    }
  }
}
