.bh-game {
  &__header {
    text-align: center;
  }
  &__timer-display {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__action-container {
    display: flex;
    justify-content: center;
  }
  &__action-form {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin: 0 1rem;
    span {
      margin-top: 1rem;
    }
  }
}
