  <ng-container *ngIf="currGameState | async as gameState">

    <h1 class="bh-game__header">
      {{ gameState.phase }}&nbsp;PHASE
    </h1>
    <h2 *ngIf="turnStart | async" class="bh-game__timer-display">
      <span>Turn ends in</span>
      <div>
        <div>{{ turnTimerDisplay | async }}</div>
      </div>
    </h2>
    <ng-container *ngIf="currUser | async as self">
      <app-stream-collection *ngIf="self && (room | async)" [currUser]="self" [room]="room | async"
        (allStreamsActive)="startGame()">
      </app-stream-collection>
    </ng-container>
    <section *ngIf="currPlayerData | async as playerData" class="bh-game__action-container">
      <div *ngIf="playerData.role.canAttack && !playerData.hasAttacked" class="bh-game__action-form">
        <h4>Select a player to attack</h4>
        <mat-radio-group [formControl]="attackCtrl">
          <mat-radio-button *ngFor="let attackee of getValidAttackList(playerData)" [value]="attackee">
            {{ attackee }}
          </mat-radio-button>
        </mat-radio-group>
        <span>
          <button mat-raised-button color="primary" (click)="attack()">Attack</button>
        </span>
      </div>
      <div *ngIf="playerData.role.canBlock && !playerData.hasBlocked" class="bh-game__action-form">
        <h4>Select a player to block</h4>
        <mat-radio-group [formControl]="blockCtrl">
          <mat-radio-button *ngFor="let blockee of getValidBlockList(playerData)" [value]="blockee">
            {{ blockee }}
          </mat-radio-button>
        </mat-radio-group>
        <span>
          <button mat-raised-button color="primary" (click)="block()">Block</button>
        </span>
      </div>
    </section>
  </ng-container>
