@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../src/app/styles/variables.scss';
@import '../src/app/styles/mixins.scss';
@import '~src/styles/material.scss';

body {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 100;
  font-style: normal;
  overflow-x: hidden;
  width: calc(100vw - 17px);
  height: 100vh;
  margin: 0;
  background-color: #ecf1ef;
  input {
    line-height: 1.5rem;
    margin-top: 0.25rem;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
  }

  .button--primary {
    line-height: 1.5rem;
    width: fit-content;
    padding: 0.25rem 1rem;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    background: $primary-btn-color;
    &:hover {
      background-color: lighten($primary-btn-color, 10%);
    }
  }
}

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}
