.home {
  display: flex;
  align-items: center;

  // background-image: linear-gradient(
  //   141deg,
  //   #9c27b0 0%,
  //   #ea80fc 51%,
  //   #ab47bc 75%
  // );

  height: 100vh;
  &__action-row {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  &__container--jumbotron {
    display: flex;
    justify-content: center;
  }

  .button--play {
    font-size: 37px;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: purple;
    box-shadow: 0 1px 10px #9c27b0;
  }
}
